// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Personalización rápida
body {
    background-color: #f0f2f5; // Un gris más suave
}

.navbar {
    background-color: #004a99 !important; // Azul oscuro para la barra
}

.navbar-brand, .nav-link {
    color: white !important; // Letras blancas para que resalten
}